*{
 /*
margin: 3px 4px 2px 3px  
  margin: 4px;
  */
   margin: 3px 4px 3px;
}


body{
    background-color: id="#00FFFF";
}


#banner{
width: 75%;
height: 150px;
margin-bottom: 30px;
border-radius: 12px;
}

h1{
 background-color: seagreen;
text-align: center;
color: #ffffff;
width:100%;
}


#bem-vindo{ 
 font-family: courier;
 color: black;
font-size: 22px;
}

#nota{
font-family: courier;
color: brown;
font-size: 30px;
}
